
/* NAVBAR */
.brandlogo {
    width: 130px;
}
.navbar{
    margin-bottom: 5%;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
    color: #f47522;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #f47522;
}

.navbar-light .navbar-nav .nav-link {
    color: #19345e;
}

.navbar-light .navbar-toggler {
    color: #19345e;
    border-color: #f47522;
}

.navbar-toggler {
    border-radius: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.cst-ms-1 {
    margin-left: 10%;
}

.cst-me-1 {
    margin-right: 10%;
}

.cst-btn {
    background-color: #f47522;
    color: #fff;
    border-radius: 30px;
    padding: 4px 34px;
    margin-left: 2rem;
}
.cst-btn:hover{
    background-color: #f47522;
    color: #fff;
    border-color: #f47522;
}


/* SECTION */
section{
    color: #19345E;
}


/* GET IN TOUCHC */
.hr-1 {
    border: 1px solid #F47522;
    width: 30px;
    opacity: 1;
    height: 1px;
    background-color: #F47522;
    margin-top: 15px;
}
.d-flex h3{
    font-family: muli;
    font-weight: 800;
    /* font-size: 200%; */
}


/* INFO CONTACT */
.col-4{
    font-size: 12px;
    margin-left: 33%;
}
.ctp-1{
    text-align: center;
    margin-left: -7%;
}
.ct-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -12%;
    margin-top: -3%;
}
.ct-flex img{
    width: 15px;
    height: 15px;
    margin-right: 1%;
    margin-left: 2%;
    margin-top: 1%;
}
.img-flex{
    display: flex;
    margin-left: 2%;
    margin-top: 1%;
}
.img-flex img {
    /* margin-right: 15%; */
    margin-bottom: 80%;
}
.btn-primary{
    background-color: #F47522;
    border-color: #F47522;
    border-radius: 40px;
    width: 40%;
    height: 40px;
    margin-top: 0;
    margin-bottom: 18%;
    font-size: 8px;
    background-image: url(/assets/send-mail.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 3vw;
    float: right;
}
.btn-primary:hover{
    background-color: #F47522;
    border-color: #F47522;
}
.col-8{
    margin-left: 16%;
    font-size: 14px;
}
.col-8 p{
    text-align: center;
}
sup {
    color: #FF0303;
}


/* FOOTER */
footer {
    background-color: #19345e;
    color: #ffffff;
    /* width: 100%; */
    /* height: 141px; */
    margin-top: 20%;
}
.brand-img {
    width: 110px;
    margin: 42px 0;
}
.foo-sosmed {
    margin: 40px 0;
}
.foo-sosmed p {
    /* font-family: Arial; */
    font-size: 14px;
    /* font-weight: 100; */
    margin-left: 8%;
}
.foo-sosmed img {
    width: 20px;
    margin-left: 8%;
    margin-top: -4%;
}
.foo-copy {
    margin-left: 30%;
    margin-top: 20%;
}
.foo-copy p {
    /* font-family: muli; */
    /* font-weight: 500; */
    font-size: 14px;
}
.cst-mt-1 {
    background-color: #19345e;
    display: flex;
    justify-content: space-between;
}
.alta {
    width: 200px;
}
.cst-team-bg {
    background-image: url("/assets/ornament_batik.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 12.5%;
}
.cst-mb-1 {
    margin-bottom: 5%;
}
.cst-arial-reg {
    font-family: "Arial", sans-serif;
    font-weight: 100;
    color: #19345e;
}
.cst-w {
    width: 33.3333%;
}



.cst-muli-xbold {
    font-family: "Muli" f;
    font-weight: bolder;
    color: #19345e;
}

.cst-muli-bold {
    font-family: "Muli";
    font-weight: 800;
    color: #19345e;
}

.cst-btn {
    background-color: #f47522;
    color: #fff;
    border-radius: 30px;
    padding: 4px 34px;
    margin-left: 2rem;
}



/* DESKTOP VERSION */
@media (min-width: 992px) {
/* NAVBAR */
    /* .navbar-nav {
        font-family: muli;
        font-size: 15px;
        font-weight: 800;
        margin-right: 3%;
    }
    .navbar {
        height: 80px;
        box-shadow: 0 3px 6px #C1C3C736;
        margin-bottom: 5%;
    }
    .nav-item a{
        text-align: center;
    }
    .btn-nav {
        margin-left: 51px;
        background-color: #F47522;
        border: 1px solid #F47522;
        color: #FFFFFF !important;
        border-radius: 40px;
        width: 130px;
    }
    .btn-nav:hover {
        background-color: #F47522;
        border-color: #F47522;
    }
    .navbar-brand{
        margin-left: 60px;
    }
    .brandlogo {
        width: 110px;
    }
    .navbar-collapse{
        margin-right: 60px;
    }
    .nav-link{
        color: #19345E;
        margin-right: 20px;
    }
    .nav-link:hover {
        color: #F47522;
    } */


/* SECTION */
    section{
        color: #19345E;
    }


/* GET IN TOUCH */
    .hr-1 {
        border: 1px solid #F47522;
        width: 30px;
        opacity: 1;
        height: 1px;
        background-color: #F47522;
        margin-top: 6px;
    }

    .git {
        margin-bottom: 2%;
        background-color: white !important;
    }
    .d-flex h3{
        font-family: muli;
        font-weight: 800;
        /* font-size: 250%; */
        margin-top: -1%;
    }



/* info contact */
    .col-4{
        font-family: poppins;
        font-weight: 400;
        font-size: 18px;
        margin-left: 0;
    }
    .col-4 img{
        width: 15px;
        margin-left: 5%;
        margin-top: 8px;
    }
    .col-4 p{
        margin-top: 1px;
    }
    .img-flex {
        display: flex;
        margin-left: 3%;
    }
    .img-flex img{
        width: 25px;
        padding-right: 5%;
    }
    .ct-flex {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-top: -3%;
        margin-left: 2%;
    }
    .col-8 {
        font-family: poppins;
        font-weight: 400;
        font-size: 16px;
        padding-left: 5%;
        padding-right: 6%;
        margin-left: 0;
    }
    .col-8 p{
        text-align: left;
    }



    .ctp-1{
        text-align: left;
        margin-left: 0;
}
    .ct-flex img{
        width: 15px;
        height: 15px;
        margin-right: 1%;
        margin-left: 2%;
        margin-top: 1%;
}
    .img-flex{
        display: flex;
        margin-left: 2%;
        /* margin-top: 2%; */
}




/* FORM */
    .form-label-1 {
        margin-top: 3%;
        margin-bottom: 2%;
    }
    .mb-3 textarea {
        margin-top: 2%;
    }
    .btn-primary{
        background-color: #F47522;
        border-color: #F47522;
        border-radius: 40px;
        width: 40%;
        height: 40px;
        margin-top: 5%;
        margin-bottom: 18%;
        font-size: 15px;
        background-image: url(/assets/send-mail.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 3vw;
        float: left;
    }
    .btn-primary:hover{
        background-color: #F47522;
        border-color: #F47522;
    }
    sup {
        color: #FF0303;
    }


/* FOOTER */
    footer {
        background-color: #19345e;
        color: #ffffff;
        /* width: 100%; */
        /* height: 141px; */
        margin-top: 20%;
    }
    .brand-img {
        width: 110px;
        margin: 42px 0;
    }
    .foo-sosmed {
        margin: 40px 0;
    }
    .foo-sosmed p {
        /* font-family: Arial; */
        font-size: 14px;
        /* font-weight: 100; */
        margin-left: 8%;
    }
    .foo-sosmed img {
        width: 20px;
        margin-left: 8%;
        margin-top: -4%;
    }
    .foo-copy {
        margin-left: 30%;
        margin-top: 20%;
    }
    .foo-copy p {
        /* font-family: muli; */
        /* font-weight: 500; */
        font-size: 14px;
    }
    .cst-mt-1 {
        background-color: #19345e;
        display: flex;
        justify-content: space-between;
    }
    .alta {
        width: 200px;
    }
    .cst-team-bg {
        background-image: url("/assets/ornament_batik.png");
        background-position: left top;
        background-repeat: no-repeat;
        background-size: 12.5%;
    }
    .cst-mb-1 {
        margin-bottom: 5%;
    }
    .cst-arial-reg {
        font-family: "Arial", sans-serif;
        font-weight: 100;
        color: #19345e;
    }
    .cst-w {
        width: 33.3333%;
    }
    .cst-muli-bold {
    font-family: "Muli";
    font-weight: 800;
    color: #19345e;
}


}